* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    padding: 1em;
    width: 80%;
}
header {
    background-color: #3a3a3a;
}
header .container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
header ul{
    list-style: none;
}
header a {
    color: #fff;
    text-decoration: none;
    transition: all 500ms ease;
}
header a:hover {
    color: lightblue;
    transition: all 200ms ease;
}
header .navbar-brand {
    font-weight: 700;
    font-size: 1.25em;
}
header .navbar-brand img {
    vertical-align: middle;
}
header nav {
    width: 60%;
    padding: 0.6em;
}
header nav ul {
    display: flex;
    justify-content: space-evenly;
}

@media all and (max-width: 1024px){
    body {
        position: relative;
    }
    .container {
        width: 95%;
    }
    .burger {
        width: 40px;
        height: 40px;
        border: 1px solid #fff;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        z-index: 10;
    }
    .burger div {
        border: 1px solid #fff;
        border-radius: 10px;
        margin: 0.5em;
    }
    .croix {
        width: 40px;
        height: 40px;
        border: 1px solid #fff;
        border-radius: 50px;
        cursor: pointer;
        position: relative;
        z-index: 12;
        display: none;
    }
    .croix div:first-child {
        border: 1px solid #fff;
        border-radius: 10px;
        width: 80%;
        margin-top: 50%;
        margin-left:10%;
        transform: rotate(45deg);
    }
    .croix div:last-child {
        border: 1px solid #fff;
        border-radius: 10px;
        width: 80%;
        margin-top: -5%;
        margin-left:10%;
        transform: rotate(-45deg);
    }
    header nav {
        position: absolute;
        z-index: 11;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #3a3a3a;
        width: 0;
        padding: 0;
    }
    header nav ul {
        flex-direction: column;
        text-align: center;
        padding-top: 100px;
        display: none;
    }
    header nav li {
        margin-bottom: 1em;
    }
}