body {
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 48px;
    color: pink;
    text-align: center;
}
nav ul {
    display: flex;
    justify-content: end;
    align-items: end;
    list-style: none;
    float: right;
}
nav a {
    color: pink;
    text-decoration: none;
    padding: 1em;
    border: 1px solid pink;
    border-radius: 10px;
    margin-right: 1em; 
    transition: all 0.5s ease;
}
nav a:hover {
    background: pink;
    transition: all 0.5s ease;
    color: white;
}

main section {
    display: flex;
    justify-content: space-between;
}
main article {
    width: 45%;
    background: lightblue;
    padding: 0.5em 1em;
}