body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#505556+0,293133+100 */
background: rgb(80,85,86); /* Old browsers */
background: -moz-linear-gradient(top, rgba(80,85,86,1) 0%, rgba(41,49,51,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(80,85,86,1) 0%,rgba(41,49,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(80,85,86,1) 0%,rgba(41,49,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505556', endColorstr='#293133',GradientType=0 ); /* IE6-9 */

    padding: 0 2em;
}
h1 {
    text-indent: -99999px;
    background: url('img/logo.png') center no-repeat;
    background-size: cover;
    width: 200px;
    height: 50px;
    margin:0;
}
header form {
    border: 1px solid #4BD4F2;
    margin: 0;
}
header form input {
    height: 25px;
    border: none;
    background: #020202;
    color: #fafafa;
    padding-left: 1em;
}
header form button {
    border: none;
    height: 25px;
    margin-left: -5px;
    cursor: pointer;
}
.login {
    text-indent: -99999px;
    display: block;
    background: url('img/user.png') center no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
}

nav {
    background: #020202;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    height: 50px;
}
nav a {
    padding: 1em;
    color: #4BD4F2;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
nav a:hover {
    color: #293133;
    background: #4BD4F2;
    -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.banniere {
    max-height: 600px;
    overflow: hidden;
    position: relative;
}
.banniere img {
    width: 100%;
}
.banniere h2 {
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 7em;
    font-family: 'Turret Road', cursive;
    text-align: center;
    margin: 0;
    /*color: #F2E205;*/
    -webkit-text-stroke: 1px #F2E205;
    text-transform: uppercase;
    opacity: 1;
    -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
.banniere:hover h2{
    opacity: 0;
    -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}

@media screen and (max-width:650px){
    body {
        font-size: 12px;
    }
    .banniere h2 {
        font-size: 4em;
    }
    nav {
        display: none;
    }
}